@page "/quest/details/{Id:int}"
@using Quests.Client.Services
@using Quests.Shared.Entities.Models
@using CurrieTechnologies.Razor.SweetAlert2
@inject IQuestDataService QuestDataService
@inject IQuestStepDataService QuestStepDataService
@inject NavigationManager NavManager
@inject IUsersDataService UsersDataService
@inject SweetAlertService SweetAlertService
@inject IMyQuestDataService MyQuestDataService


<div class="flex-row-fluid ml-lg-8">
    <!--begin::Section-->
    <!--begin::Charts Widget 9-->
    <!--begin::Card-->
    <div class="card card-custom gutter-b gutter-b">
        <div class="card-body d-flex flex-column flex-md-row flex-lg-column flex-xxl-row p-0 overflow-hidden">
            <div class="d-flex flex-column flex-root" style="position: relative;">
                <div class="m-11 d-flex align-items-end">
                    <h3 class="font-size-h1 text-dark font-weight-bolder mr-3 mb-0 ">@_quest.Name <small class="text-muted">@_category.Name</small></h3>
                </div>
                <div class="bgi-no-repeat bgi-position-center bgi-size-cover h-500px  mw-100 w-100% rounded-bottom" style="background-image: url('@_quest.Img')"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-3">
            <!--begin::Stats Widget 30-->
            <div class="card card-custom bg-info card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    
                    <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">@_quest.Price ₽ <span class="font-weight-bold text-white font-size-sm">Цена</span> </span>
                    

                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 30-->
        </div>
        <div class="col-xl-3">
            <!--begin::Stats Widget 31-->
            <div class="card card-custom bg-danger card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    
                    <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 d-block">@_quest.Distance <span class="font-weight-bold text-white font-size-sm">Дистанция в метрах</span></span>
                    
                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 31-->
        </div>
        <div class="col-xl-3">
            <!--begin::Stats Widget 32-->
            <div class="card card-custom bg-dark card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    
                    <span class="card-title font-weight-bolder text-white font-size-h2 mb-0 mt-6 text-hover-primary d-block">@_quest.TravelTime.ToString("HH:mm") <span class="font-weight-bold text-white font-size-sm">Время прохождения</span></span>
                    
                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 32-->
        </div>
        <div class="col-xl-3">
            <!--begin::Stats Widget 32-->
            <div class="card card-custom bg-warning card-stretch gutter-b">
                <!--begin::Body-->
                <div class="card-body">
                    
                    <button class="btn btn-success btn-lg btn-block btn-shadow font-weight-bold mb-0 mt-6" @onclick="@(e => BuyGame(_quest))"> Играть</button>
                </div>
                <!--end::Body-->
            </div>
            <!--end::Stats Widget 32-->
        </div>

    </div>
    <!--end:: Card-->
    <!--end:: Charts Widget 9-->
    <!--end::Section-->
    <!--begin::Section-->
    <div class="row">
        <div class="col-md-4 col-lg-12 col-xxl-4">
            <!--begin::Stats Widget 33-->
            <!--begin::Card-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Card Body-->
                <div class="card-body">
                    <h3 class="font-weight-bold font-size-h4 text-dark-75 mb-3">Описание</h3>
                    <div class="text-muted font-weight-bold font-size-sm mb-6">Дополнительная информация</div>
                    <div class="font-size-sm mb-6">@((MarkupString)_quest.Description)</div>

                </div>
                <!--end::Card Body-->
            </div>
            <!--end::Card-->
            <!--end::Stats Widget 33-->
        </div>
        <div class="col-md-8 col-lg-12 col-xxl-8">
            <!--begin::List Widget 19-->
            <div class="card card-custom card-stretch gutter-b">
                <!--begin::Header-->
                <div class="card-header border-0 pt-6 mb-2">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label font-weight-bold font-size-h4 text-dark-75 mb-3">Этапы</span>
                        <span class="text-muted font-weight-bold font-size-sm">Прохождение</span>
                    </h3>

                </div>
                <!--end::Header-->
                @if (_questSteps != null)
                {
                    <!--begin::Body-->
                    <div class="card-body pt-2">
                        <!--begin::Table-->
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <tbody>

                                    @foreach (var item in _questSteps)
                                    {
                                        <!--begin::Item-->
                                        <tr>
                                            <td class="w-40px align-middle pb-6 pl-0 pr-2">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-40 symbol-light-success">
                                                    <span class="symbol-label">
                                                        <img src="@item.Img" class="img-fluid rounded h-40px align-self-center" alt="">
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                            </td>
                                            <td class="font-size-lg font-weight-bolder text-dark-75 align-middle w-150px pb-6">@item.Name</td>
                                            <td class="font-weight-bold text-muted text-right align-middle pb-6">@item.Points очки</td>
                                            <td class="font-weight-bold text-muted text-right align-middle pb-6">@item.TravelTime.ToString("HH:mm") время</td>
                                            <td class="font-weight-bolder font-size-lg text-dark-75 text-right align-middle pb-6">@item.Distance метров</td>
                                        </tr>
                                        <!--end::Item-->
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!--end::Table-->
                    </div>
                    <!--end::Body-->
                }


            </div>
            <!--end::List Widget 19-->
        </div>
    </div>
    <!--end::Section-->

    @if (_quest.VideoCode != null)
    {
        <div class="row">
            <div class="col">
                <!--begin::Section-->
                <!--begin::Advance Table Widget 10-->
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Видео</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">Дополнительная информация</span>
                        </h3>

                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-0 pb-8">
                        @((MarkupString)_quest.VideoCode)
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 10-->
                <!--end::Section-->
            </div>
        </div>



    }
    @if (_quest.MapCode != null)
    {
        <div class="row mt-8 mb-8">
            <div class="col">
                <!--begin::Section-->
                <!--begin::Advance Table Widget 10-->
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Карта</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">Дополнительная информация</span>
                        </h3>

                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body py-0 pb-8">
                        @((MarkupString)_quest.MapCode)
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Advance Table Widget 10-->
                <!--end::Section-->
            </div>
        </div>



    }


</div>



@code {
    [Parameter]
    public int Id { get; set; }

    private Quest _quest = new Quest();
    private List<QuestStep> _questSteps = new List<QuestStep>();
    private QuestCategory _category = new QuestCategory();

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            _quest = await QuestDataService.Get(Id);
            _questSteps = await QuestStepDataService.GetFromQuest(Id);
            StateHasChanged();
            var categories = await QuestDataService.GetAllQuestCategories();
            _category = categories.Find(x => x.Id == _quest.QuestCategoryId);

        }
    }

    protected async Task BuyGame(Quests.Shared.Entities.Models.Quest quest)
    {
        var user = await UsersDataService.GetUserInfo();

        if (quest.Price > user.Points)
        {
            var myQuests = await MyQuestDataService.Get();
            if (myQuests.FirstOrDefault(x => x.QuestId == quest.Id) != null)
            {
                NavManager.NavigateTo("/myQuests");
            }
            else
            {
                NavManager.NavigateTo("/payment/" + (quest.Price - user.Points)+"/"+quest.Id);
            }

        }

        else
        {


            var result = await SweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Вы уверены?",
                Text = "C вашего счета будет списано " + quest.Price + " очков",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Да, хочу пройти квест!",
                CancelButtonText = "Нет, отменить игру"
            });

            if (!string.IsNullOrEmpty(result.Value))
            {
                await MyQuestDataService.Add(quest);
                NavManager.NavigateTo("/myQuests");
            }

        }


    }
}
