@page "/quest/list"
@using Quests.Client.Services
@using Quests.Shared.Entities.Models
@using Quests.Shared.Entities.RequestFeatures
@using Quests.Client.Pages.Partials.Extras

@inject IJSRuntime JsRuntime
@inject IQuestDataService QuestDataService
@inject NavigationManager NavigationManager

<div class="card card-custom gutter-b">
    <div class="card-header">
        <h3 class="card-title">Список квестов</h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-6 my-2 my-md-0">
                    <Search OnSearchChanged="SearchChanged" />
                </div>
                <div class="col-4 my-2 my-md-0">
                    <Sort OnSortChanged="SortChanged" />
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped datatable datatable-bordered datatable-head-custom">
                <thead>
                    <tr>
                        <th scope="col" style="width: 100px">Изображение</th>
                        <th scope="col" style="width: 150px">Город</th>
                        <th scope="col" style="width: 150px">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col" style="width: 200px">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var quest in Quests)
                    {
                        var link = "/quest/edit/" + quest.Id;
                        var detailsLink = "/quest/details/" + quest.Id;
                        var id = quest.Id;
                        <tr scope="row" id="@quest.Id">
                            <td style="vertical-align: middle;">
                                <img src="@quest.Img" class="img-thumbnail img-fluid">
                            </td>
                            <td style="vertical-align: middle;">@quest.City</td>
                            <td style="vertical-align: middle;">@quest.Name</td>
                            <td style="vertical-align: middle;">@((MarkupString)Helper.GetFirstCharacters(quest.Description, 250))</td>
                            <td style="vertical-align: middle;">
                                
                                    <NavLink class="btn btn-icon btn-success btn-lg" href="@link">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
                                                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                    </NavLink>
                                    <NavLink class="btn btn-icon btn-primary btn-lg" href="@detailsLink">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000" />
                                                    <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3" />
                                                </g>
                                            </svg>
                                        </span>
                                    </NavLink>
                                    <button class="btn btn-icon btn-danger btn-lg" @onclick="()=>Delete(quest.Id)">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero" />
                                                    <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
                                                </g>
                                            </svg>
                                        </span>
                                    </button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        

        <div class="row">
            <div class="col">
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
            </div>
        </div>



    </div>

</div>

@code {


    private List<Quest> Quests { get; set; } = new List<Quest>();
    public MetaData MetaData { get; set; } = new MetaData();

    private QuestParameters _questParameters = new QuestParameters();

    protected override async Task OnInitializedAsync()
    {
        await GetQuest();

    }

    private async Task SelectedPage(int page)
    {
        _questParameters.PageNumber = page;
        await GetQuest();
    }

    private async Task GetQuest()
    {
        var pagingResponse = await QuestDataService.Get(_questParameters);
        Quests = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }

    private async Task SearchChanged(string searchTerm)
    {
        Console.WriteLine(searchTerm);
        _questParameters.PageNumber = 1;
        _questParameters.SearchTerm = searchTerm;
        await GetQuest();
    }

    private async Task SortChanged(string orderBy)
    {
        Console.WriteLine(orderBy);
        _questParameters.OrderBy = orderBy;
        await GetQuest();
    }

    private async Task Delete(int id)
    {
        await QuestDataService.Delete(id);
        await GetQuest();
    }

}
