@page "/myQuests"
@using Quests.Shared.Entities.Models
@using Quests.Client.Services
@using Quests.Shared.VM
@inject IMyQuestDataService MyQuestDataService


@foreach (var item in MyQuests)
{
    var link = "/myquests/details/" + item.Id;
    <div class="card card-custom overlay mb-4" >
        <!--begin::Body-->
        <div class="card-body">
            <div class="row overlay-wrapper">
                <div class="col-sm-2">
                    <img class="img-thumbnail img-fluid mb-8 mb-md-0 mb-lg-0 mb-xl-0 mb-xxl-0" src="@item.Img"/>
                </div>
                <div class="col-sm-10">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center justify-content-between flex-grow-1">
                            <div class="mr-2">
                                <h3 class="font-weight-bolder">@item.Name</h3>
                                <div class="text-muted font-size-lg mt-2">Количество этапов @item.StageCount</div>
                            </div>
                            <div class="font-weight-boldest font-size-h1 @(item.Status == MyQuestStatus.NotStarted ? "text-success": item.Status == MyQuestStatus.Started ?"text-warning":item.Status == MyQuestStatus.Finished?"text-muted":"text-info")">@item.Points</div>
                        </div>
                        <div class="pt-8">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <div class="text-muted font-weight-bold mr-2">Прогресс</div>
                                <div class="text-muted font-weight-bold">@item.CurrentProgress%</div>
                            </div>
                            <div class="progress bg-light- @(item.Status == MyQuestStatus.NotStarted ? "bg-light-success": item.Status == MyQuestStatus.Started ?"bg-light-warning":item.Status == MyQuestStatus.Finished?"bg-light-info":"") progress-xs">
                                <div class="progress-bar @(item.Status == MyQuestStatus.NotStarted ? "bg-success": item.Status == MyQuestStatus.Started ?"bg-warning":item.Status == MyQuestStatus.Finished?"bg-info":"")" role="progressbar" style="width: @(item.CurrentProgress)%;" aria-valuenow="@item.CurrentProgress" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="overlay-layer">
                @if (item.Status == MyQuestStatus.Started)
                {
                    <NavLink class="btn font-weight-bold  btn-warning  btn-lg btn-shadow" href="@link">
                        Продолжить прохождение <i class="flaticon2-right-arrow"></i>
                    </NavLink>
                }
                else if(item.Status == MyQuestStatus.NotStarted)
                {
                    <NavLink class="btn font-weight-bold btn-success btn-lg btn-shadow" href="@link">
                        Начать прохождение <i class="flaticon2-right-arrow"></i>
                    </NavLink>
                }
                else
                {
                    <span class="label label-info label-xl label-inline mb-1">Квест пройден</span>
                }
            </div>
        </div>
        <!--end::Body-->
    </div>
}


@code {
    private List<MyQuestsVm> MyQuests { get; set; } = new List<MyQuestsVm>();

    protected override async Task OnInitializedAsync()
    {
        MyQuests = await MyQuestDataService.Get();
    }



}
