@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Quests.Client.Services
@using Quests.Shared.VM
@namespace Quests.Client.Pages.Partials

@inject NavigationManager NavigationManager
@inject SignOutSessionStateManager SignOutManager
@inject IUsersDataService UsersDataService
<!--begin::Aside-->
<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">

    <!--begin::Brand-->
    <div class="brand flex-column-auto" id="kt_brand">

        <!--begin::Logo-->
        <NavLink href="/" class="brand-logo" Match="NavLinkMatch.All">
            <img alt="Logo" src="assets/media/logos/logo-light.png" />
        </NavLink>

        <!--end::Logo-->
        <!--begin::Toggle-->
        <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
            <span class="svg-icon svg-icon svg-icon-xl">

                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24" />
                        <path d="M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z" fill="#000000" fill-rule="nonzero" transform="translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)" />
                        <path d="M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)" />
                    </g>
                </svg>

                <!--end::Svg Icon-->
            </span>
        </button>

        <!--end::Toolbar-->
    </div>

    <!--end::Brand-->
    <!--begin::Aside Menu-->
    <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
        
        <!--begin::Menu Container-->
    <div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
    
        
        <AuthorizeView>
            <Authorized>
                <div class="col">
                    <div class="card card-custom bgi-no-repeat card-stretch gutter-b mt-10" style=" background-position: right top; background-size: 30% auto; background-image: url(/assets/media/svg/shapes/abstract-4.svg)">
                        <div class="card-body">
                        <div class="d-flex align-items-center mt-5">
                                <div class="symbol symbol-100 mr-5">
                                    <div class="symbol-label" style="background-image:url('@user.Img')"></div>
                                    <i class="symbol-badge bg-success"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-5">
                                <div class="d-flex flex-column">
                                    <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary"> @context.User.Identity.Name</a>
                                    <div class="text-success mt-1"><span class="text-muted mt-1">Мои очки:</span> @user.Points</div>
                                    <div class="navi mt-2">

                                        <button class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5" @onclick="BeginSignOut">Выйти</button>
                                    </div>
                                </div>
                            </div>
                            <div class="separator separator-dashed mt-8 mb-5"></div>
                            <div class="navi navi-spacer-x-0 p-0">
                                <NavLink href="authentication/profile" class="navi-item" Match="NavLinkMatch.All">
                                    <div class="navi-link">
                                        <div class="symbol symbol-40 bg-light mr-3">
                                            <div class="symbol-label">
                                                <span class="fas fa-house-user text-info">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="navi-text">
                                            <div class="font-weight-bold">Личный кабинет</div>
                                            
                                        </div>
                                    </div>
                                </NavLink>

                                <NavLink href="/payment" class="navi-item" Match="NavLinkMatch.All">
                                    <div class="navi-link">
                                        <div class="symbol symbol-40 bg-light mr-3">
                                            <div class="symbol-label">
                                                <span class="fas fa-dollar-sign text-success">
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="navi-text">
                                            <div class="font-weight-bold">Пополнить счет</div>
                                            
                                        </div>
                                    </div>
                                </NavLink>

                                
                                <NavLink href="/myQuests" class="navi-item" Match="NavLinkMatch.All">
                                    <div class="navi-link">
                                        <div class="symbol symbol-40 bg-light mr-3">
                                            <div class="symbol-label">
                                                <span class=" fas fa-th-list text-warning">
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="navi-text">
                                            <div class="font-weight-bold">Мои квесты</div>
                                            
                                        </div>
                                    </div>
                                </NavLink>

                            </div>
                        </div>
                       
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
   
    <!--begin::Menu Nav-->
    <ul class="menu-nav">
    

    <li class="menu-section">
        <h4 class="menu-text">Навигация</h4>
        <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
    </li>

    <li class="menu-item @GetActive("", NavLinkMatch.All)" aria-haspopup="true">
        <NavLink class="menu-link" href="" Match="NavLinkMatch.All">
            <span class="menu-icon fas fa-list-alt">

               
            </span>
            <span class="menu-text">Доступные квесты</span>
        </NavLink>
    </li>
    <AuthorizeView Roles="Admin">
        <li class="menu-item @GetActive("quest/edit", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/quest/edit" Match="NavLinkMatch.All">
                <span class=" menu-icon far fa-plus-square">

                    
                </span>
                <span class="menu-text">Квест создать</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("quest", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/quest" Match="NavLinkMatch.All">
                <span class=" menu-icon fas fa-list">

                    
                </span>
                <span class="menu-text">Квест список</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("queststep/edit", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/queststep/edit" Match="NavLinkMatch.All">
                <span class="menu-icon far fa-plus-square">

                    
                </span>
                <span class="menu-text">Этап создать</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("queststeps", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/queststeps" Match="NavLinkMatch.All">
                <span class="menu-icon fas fa-list-ul">

                   
                    
                </span>
                <span class="menu-text">Этапы список</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("users", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/users" Match="NavLinkMatch.All">
                <span class="menu-icon fas fa-users">

                   
                </span>
                <span class="menu-text">Пользователи</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("news/edit", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/news/edit" Match="NavLinkMatch.All">
                <span class="menu-icon far fa-plus-square">

                   
                </span>
                <span class="menu-text">Добавить новость</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("instructions/edit", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/instructions/edit" Match="NavLinkMatch.All">
                <span class="menu-icon far fa-plus-square">

                   
                </span>
                <span class="menu-text">Добавить инструкцию</span>
            </NavLink>
        </li>
    </AuthorizeView>
    <AuthorizeView Roles="Member">
        <li class="menu-item @GetActive("myquests", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/myquests" Match="NavLinkMatch.All">
                <span class="menu-icon fas fa-th-list"></span>
                <span class="menu-text">Мои квесты</span>
            </NavLink>
        </li>
        <li class="menu-item @GetActive("authentication/profile", NavLinkMatch.All)" aria-haspopup="true">
            <NavLink class="menu-link" href="/authentication/profile" Match="NavLinkMatch.All">
                <span class="menu-icon fas fa-house-user">

                   
                </span>
                <span class="menu-text">Личный кабинет</span>
            </NavLink>
        </li>
    </AuthorizeView>



    <li class="menu-item @GetActive("news", NavLinkMatch.All)" aria-haspopup="true">
        <NavLink class="menu-link" href="/news" Match="NavLinkMatch.All">
            <span class="menu-icon far fa-newspaper">
            </span>
            <span class="menu-text">Новости</span>
        </NavLink>
    </li>
    <li class="menu-item @GetActive("instructions", NavLinkMatch.All)" aria-haspopup="true">
        <NavLink class="menu-link" href="/instructions" Match="NavLinkMatch.All">
            <span class="menu-icon fas fa-clipboard-list">
            </span>
            <span class="menu-text">Инструкции</span>
        </NavLink>
    </li>

    </ul>

    <!--end::Menu Nav-->
    </div>

        <!--end::Menu Container-->
    </div>

    <!--end::Aside Menu-->
</div>

<!--end::Aside-->

@code {

    private UserVm user { get; set; } = new UserVm();

    protected override async Task OnInitializedAsync()
    {
        user = await UsersDataService.GetUserInfo();
        NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    }


    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "menu-item-active" : "";

    private async Task BeginSignOut(MouseEventArgs args)
    {

        await SignOutManager.SetSignOutState();

        NavigationManager.NavigateTo("authentication/logout");
    }
}
